body {
    padding: 10px;
}

img {
    width: 50%;
}

.main{
    background-color: white;
}

.card .card-title{
    color: black
}

.card h5{
    font-weight: bold;
}

.div-center{
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 10px;
}