body {
    padding: 0px;
    background-color: #ededed; 
}

nav {
    background-color: #fff159;
}

.nav a {
    color: black;
    font-weight: 100;
}

.main{
    background-color: #ededed;
}


.card .card-title{
    color: black;
}

.card-title:hover{
    color: black;
    text-decoration-color: black;
    text-decoration: none;

}

.card h5{
    font-weight: bold;
}

.card-img-top{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.div-center{
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 10px;
}

.card-body{
    border-top: 1px solid black;
}
