{% extends "auctions/layout.html" %}

{% load static %}

{% block body %}
    <h2>Active Listings</h2>

    <div class="container">
    <div class="row">
    {% for product in products %}
            <div class="col-lg-3 col-sm-6 ">

                <div class="card mb-3">
                    <img class="card-img-top"  
                         src="{% static product.image_url %}" >
                  

                    <div>

                        <ul>
                            <li>{{ product.name }}</li>
                            <li>{{ product.description }}</li>
                            <li>Price: ${{ product.price }}</li>
                            <li>{{ product.category }}</li>
                        </ul>
                        
                        <a  href="{% url 'delete_product' product.id %}" 
                        class="btn btn-danger col-lg-4 col-sm-5" >Del</a>
                        
                        <a  href="{% url 'edit_product' product.id %}" 
                        class="btn btn-primary col-lg-4 col-sm-5" >Edit</a>
                        
                    </div>     
                </div>
            </div>
            {% endfor%}
    </div>
    </div>

{% endblock %}