{% extends "auctions/layout.html" %}

{% load static %}

{% block body %}
    <h2>Active Listings</h2>

    <div class="container">
    <div class="row">
    {% for product in products %}
            <div class="col-lg-3 col-sm-6 ">

                <div class="card mb-3">
                    <a href="{% url 'show_product' product.id %}">
                        <img class="card-img-top"  
                        src="{{ product.image_url }}" >
                        
                    </a>

                    <div>

                        <ul class="mt-3">
                            <li>{{ product.name }}</li>
                            <li>Price: ${{ product.price }}</li>
                            <li>Status: {% if product.is_active == True %}
                                Active
                                {% else%}
                                Closed    
                             {% endif %} </li>
                        </ul>
                        
                        
                    </div>     
                </div>
            </div>
            {% endfor%}
    </div>
    </div>

{% endblock %}