{% extends 'auctions/layout.html' %}

{% block body %}

<div class="col-lg-4">
  <div>
    <h1> {{ product.name }}</h1>
    <a href="{% url 'add_book_watchlist' %}">
      <span class="badge bg-secondary text-white mb-3">WatchList</span>
    </a>
  </div>
  <img src="{{ product.image_url }}" >
  <p>{{ product.description  }}</p>
  <h2>Price: ${{ product.price }}</h2>

  <form action="{% url 'change_price' product.id %}">
    <input type="text" name="new_price" placeholder="Bid" autofocus>
    <input type="submit" value="Place Bid" class="btn btn-primary">
  </form>
</div>

{% if product.creator == user.username %}
  <a href="{% url 'close_bid' product.id %}" class="btn btn-dark m-3">Close Bid</a>  
 {% endif %} 

{% if messageFail %}
  <div class="alert alert-danger col-lg-4 mt-3">{{messageFail}}</div>
{% endif %}

{% if messageSuccess %}
  <div class="alert alert-success col-lg-4 mt-3">{{messageSuccess}}</div>
{% endif %}


<h2>Details</h2>
<ul>
  <li>Listed by: <a href="{% url 'show_profile' product.creator %}">{{product.creator}}</a></li>
  <li>Category: {{product.category}}</li>
</ul>

{% endblock%}