{% extends 'auctions/layout.html' %}

{% block body %}




 <div class="row">

    <div class="col-lg-4 m-3 col-sm-12">
      <div>

        {% if product.is_active == False %}
        <div class="alert alert-dark col-lg-9 col-sm-6 "> Bid Closed.  Winner: {{product.winner}}</div>
        {% endif %}

        {% if product.is_active == False %}
          {% if product.winner == user.username %}
            <div class="alert alert-success col-lg-9 col-sm-6 "> You are the Winner !!</div>
          {% endif %}
        {% endif %}
              
        {% if messageFail %}
        <div class="alert alert-danger col-lg-9 col-sm-6 mt-3">{{messageFail}}</div>
        {% endif %}
        
        {% if messageSuccess %}
        <div class="alert alert-success col-lg-9 col-sm-6 mt-3">{{messageSuccess}}</div>
        {% endif %}
      </div>


    
    <div class="card col-lg-9 col-sm-6 mb-4">
      <img  class="card-img border-primary" src="{{ product.image_url }}" >

      <div class="card-body">
        <h4 class="card-title"> {{ product.name }}</h4>
        <h5>$ {{ product.price }}</h2>
        <p class="card-text mt-4">{{ product.description  }}</p>
      </div>

      {% if user.is_authenticated %}
      <a href="{% url 'add_book_watchlist' product.id %}" class="text-right">
        <span class="badge bg-secondary text-white mb-3 p-2 text-uppercase">
          {% if is_selected %}
            Remove from WatchList
          {% else %}
            Add to WatchList
          {% endif %}
        </span>
      </a>
      {% endif %}

    </div>


    {% if product.is_active %}  
       {% if user.is_authenticated %}  
          <form action="{% url 'show_product' product.id %}" method="POST">
            {% csrf_token %}
            {{ form.new_price }}
            <input type="submit" value="Place Bid" class="btn btn-primary">
          </form>
       {% endif %}
      
      {% if product.creator == user.username %}
        <a href="{% url 'close_bid' product.id %}" class="btn btn-dark mt-3 ">Close Bid</a>  
      {% endif %} 
      
    {% endif %}
      

      
      
      <h2 class="mt-4">Details</h2>
      <ul>
        <li><strong>Listed by: </strong> <a href="{% url 'show_profile' product.creator %}">{{product.creator}}</a></li>
        <li><strong>Category:</strong> {{product.category}}</li>
        <li><strong>Status: </strong>{% if product.is_active %}
          Active
          {% else %}
          Closed
          {% endif %}
        </li>
        <li><strong>Last Bidder: </strong> 
          <a href="{% url 'show_profile' product.winner %}">
            {{product.winner}}    
          </a>
        </li>
        <li><strong>Bids: </strong> {{bids}}</li>
      </ul>
      
    </div>

    <div class="col-lg-4 m-3 col-sm-8" >
      <h2>Comments</h2>
      
      {% for comment in comments %}
          <div class="card mb-2">
            <div class="card-header">
              <strong>{{comment.creator}}</strong>
            </div>
            <div class="card-body">
                {{ comment.comment }}
            </div>
          </div>
          {% empty %}
            No commets yet  
       {% endfor%}
        

      {% if user.is_authenticated %}  
        <form action="{% url 'add_comment' product.id %}" method="post" class="mt-4">
          {% csrf_token%}
          <textarea name="comment" id="" cols="30" rows="3" required></textarea>
          <input type="submit" value="Send Comment" class="btn btn-info">
        </form>
      {% endif %}  

    </div>
 </div>


{% endblock%}